extends ../layouts/default

block content
		.page-header
			h1 About
		.row
			.col-sm-8
			
				p
				| The London Firefighters Pipe Band was officially established in January 2003.  However, the band actually has a long and distinguished lineage as one of Ontario&apos;s oldest pipe bands.
				|                     
				|                     
				p
				| The band was originally created in 1921 as the St. Thomas Legion Branch 41 Pipe Band by several of the great names in piping at that time.  During the 1920&apos;s and the 1930&apos;s, the band enjoyed rival status to the world famous 48th Highlanders of Canada, and the Argyll and Sutherland Highlanders of Toronto and Hamilton respectively.
				|                     
				p
				| Many of the bands members were called to serve during the Second World War and the band fell into limbo during that time.  It reformed in 1957, and for a short time moved to the Aylmer Legion, competing at Grade 2 level until after teh 1960 season, when it moved to Grade 1.
				|                     
				p
				| In 1963, the band amalgamated with the Chrysler Highlanders, and represented the Chrysler Corporation at many events across North America.  In 1964 it returned to the St Thomas Legion until becoming the St. Thomas Police Association Pipe Band in 1968.
				|                     
				p
				| The band travelled to Scotlan in 1971, earning a ranking of 10th overall in the world by placing 2nd at Rosse and 3rd at Meadowbrook.  In 1973, the World Champion Edinburgh Police Pipe Band visted North America and asked the St. Thomas band to accomany them on the Canadian leg of the tour.
				|                     
				|                     
				p
				| In 1976, the Robert MacNish Distillery of Scotland decided to sponsor a pipe band outside the UK and selected the St. Thomas band based on its great reputation.
				|                     
				|                     
				p
				| They chose wisely, as in 1977 the MacNish Distillery Pipe Band won Champion Supreme for Ontario, as the top Grade 1 band in the province.  They also toured Scotland where they placed 1st at Peebles, and 2nd at Edinburgh&apos;s Princess Street Gardens.  Later that same year the band released a record album titled simply &quot;MacNish Distillery Pipe Band Volume I&quot;, which was said to be the finest pipe band recording of its time.
				|                     
				p
				| In 1978, the band competed in Alma, Michigan, where it won its fifth consecutive U.S. Open Pipe Band Championship.
				|                     
				p
				| MacNish Distillery Pipe Band Volume II was released in 1981, and the following year the band was honourecd to be selected to perform at the 150th Anniversary celebrations at the Rideau Canal in Kingston, Ontario.  The band visited Santa Rosa, California, for a successful 1983 tour, and again in 1987 when it won the set competition one day and the medley competition the next.
				|                     
				p
				| Meanwhile, 1984 and 1985 saw the completion of &quot;MacNish Distillery Pipe Band Volume III&quot;, which is still available on CD, alongside releases by many of the top bands from around the world.
				|                     
				p
				| The band&apos;s agreement with MacNIsh expired in 1987, and the band assumed the name ScotsAire.  In 1991, the band returned to its roots and became simply the St. Thomas Pipe Band.  The St. Thomas Police Service became a sponsor the following year, and the band adopted the moniker St. Thomas Police Pipe Band.
				|                     
				p
				| The British Columbia Indoor Contest was the desination in 1994, where St. Thomas Police finished second to the two times World Champions, Simon Fraser University Pipe Band.  In 1995 the band travelled to the east coast, placing first in Grade 1.  In 1996, the St. Thomas Police competed against the world&apos;s best Grade 1 pipe bands at the World Championships in Scotland.
				|                     
				p
				| More recently, many of the band&apos;s Grade 1 players moved on, and once again as the St. Thomas Pipe Band, it concentrated on developing new members at various skill levels, and competing in Grade 3 and Grade 5.  In 2002, its last year under the St. Thomas Police name, the Grade 5 band triumphed as Canadian Champions, North American Champions and Champion Supreme.
				|                     
				p
				| We are now the London Fire Fighters Pipe Band.  In 2016, we have once again reached position of Grade 5 North American Champions and Champion Supreme.  We remain loyal to our heritage and continue as a competitive pipe band and also an intructional band supporting piping and drumming in our region.
				|                     


			.col-sm-4
				.panel.panel-default
					.panel-heading
						h3.panel-title London Fire Fighters Pipe Band - Quick Links
					.panel-body Here are some links of interest:
					.list-group
						a(href='http://www.ppbso.org/', target='_blank').list-group-item PPBSO
						a(href='http://www.scottshighland.com/', target='_blank').list-group-item Scott's Highland Services, Ltd
						a(href='http://collegeofpiping.com/', target='_blank').list-group-item College of Piping 
						a(href='http://www.bcpipers.org/', target='_blank').list-group-item BC Piping Association
						a(href='http://www.aspd.ca/', target='_blank').list-group-item Alberta Piping Association
						a(href='http://www.bbc.co.uk/programmes/b0079g6v', target='_blank').list-group-item BBC Radio Scotland - Pipeline 
						a(href='https://drive.google.com/drive/folders/0Bwaz6toZYo4SdzlINXRMbVdpTzA', target='_blank').list-group-item Members Google Storage
