extends ../layouts/default

block content
		.page-header
			h1 London Fire Fighters Pipe Band Piping Instruction
		.row
			.col-sm-8
			
				b PROGRAM DETAILS
				br
				p
				|                             
				p
				| The School offers instruction for beginners and novice pipers.  Our instructors are accomplished Grade 1 and Professional players, with considerable experience in performance, competition, composing, and judging.
				|                             
				p Students are not required to have any previous musical experience.
				|                             
				p
				| Piping Students will be tutored by experienced pipers and will progress at their own pace.  Students will learn the fundamentals of reading music, fingering, and expression, using a practice chanter.  The practice chanter is used by all pipers regardless of experience, to learn the and practice music.  It duplicates the fingering and techniques of the bagpipes and is quiet enough to be played indoors comfortably.
				|                             
				p
				| By the conclusion of the program, participants will be able to play several simple tunes on the practice chanter.  Depending on their progress, they may be ready to start up to playing a full set of bagpipes withing a matter of weeks or months.
				|                             
				p
				br
				b LOCATION AND TIMES
				|                             
				p
				br
				| All classes are held on Monday evenings.  Piping and Drumming classes run from 6:00PM to 7:00PM, and then from 7:00PM to 8:00PM for the advanced students.  Students are welcome to stay later to observe and participate in the pipe band practices, which are also held on Monday evenings from 7:00PM to 9:30PM.  Band practices and the Piping School are hosted at Saunders Secondary School, which is located at 941 Viscount Road, opposite Westmount SHopping Centre.
				|                             
				p
				br
				| Piping Classes - Room C305 - third floor, west side.
				|                             
				p
				br
				| Drumming Classes - Room C305 - third floor, west side.
				|                             
				p
				br
				| Band Practice - Room C203 - second floor, west side.
				|                             
				p
				br
				b COSTS
				|                             
				p
				| Students will be responsible for their own instruments (practice chanters for pipers), and the cost of the course textbooks.  These remain the property of the student once purchased.  These items are availble to the students at a discounted price through the band, or may be purchased at any local or online retailer.  Please check with the band for details.
				|                             
				p
				br
				b HAVE QUESTIONS?
				|                             
				p 
				a(href='/contact') Contact Us
				|                             

			.col-sm-4
				.panel.panel-default
					.panel-heading
						h3.panel-title London Fire Fighters Pipe Band - Quick Links
					.panel-body Here are some links of interest:
					.list-group
						a(href='http://www.ppbso.org/', target='_blank').list-group-item PPBSO
						a(href='http://www.scottshighland.com/', target='_blank').list-group-item Scott's Highland Services, Ltd
						a(href='http://collegeofpiping.com/', target='_blank').list-group-item College of Piping 
						a(href='http://www.bcpipers.org/', target='_blank').list-group-item BC Piping Association
						a(href='http://www.aspd.ca/', target='_blank').list-group-item Alberta Piping Association
						a(href='http://www.bbc.co.uk/programmes/b0079g6v', target='_blank').list-group-item BBC Radio Scotland - Pipeline 
						a(href='https://drive.google.com/drive/folders/0Bwaz6toZYo4SdzlINXRMbVdpTzA', target='_blank').list-group-item Members Google Storage
