doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    link(rel='shortcut icon', href='', type='image/x-icon')
    |     
    meta(name='description', content='London Fire Fighters Pipe and Drum Band')
    |     
    title London Fire Fighters Pipe Band
    |     
    link(rel='stylesheet', href='./css/bootstrap.min.css')
    |     
    link(rel='stylesheet', href='./css/socicon.min.css')
    |     
    link(rel='stylesheet', href='./css/style.css')
    |     
    link(rel='stylesheet', href='./css/mbr-additional.css', type='text/css')
    |     
    script(type='text/javascript', charset='UTF-8', src='./js/common.js')
    |     
    script(type='text/javascript', charset='UTF-8', src='./js/util.js')
    |     
    script(type='text/javascript', charset='UTF-8', src='./js/stats.js')
  body
    section#menu-32.mbr-navbar.mbr-navbar--freeze.mbr-navbar--absolute.mbr-navbar--sticky.mbr-navbar--auto-collapse
      .mbr-navbar__section.mbr-section
        .mbr-section__container.container
          .mbr-navbar__container
            .mbr-navbar__column.mbr-navbar__column--s.mbr-navbar__brand
              span.mbr-navbar__brand-link.mbr-brand.mbr-brand--inline
                span.mbr-brand__logo
                |                         
                span.mbr-brand__name
                  a.mbr-brand__name.text-white(href='http://lffpb.ca/') London Fire Fighters Pipe Band
            |                     
            .mbr-navbar__hamburger.mbr-hamburger
              span.mbr-hamburger__line
            |                     
            .mbr-navbar__column.mbr-navbar__menu
              nav.mbr-navbar__menu-box.mbr-navbar__menu-box--inline-right
                .mbr-navbar__column
                  ul.mbr-navbar__items.mbr-navbar__items--right.float-left.mbr-buttons.mbr-buttons--freeze.mbr-buttons--right.btn-decorator.mbr-buttons--active.mbr-buttons--only-links
                    li.mbr-navbar__item
                      a.mbr-buttons__link.btn.text-white(href='#top') HOME
                    |                                     
                    li.mbr-navbar__item
                      a.mbr-buttons__link.btn.text-white(href='#news') NEWS
                    |                                     
                    li.mbr-navbar__item
                      a.mbr-buttons__link.btn.text-white(href='#about') ABOUT
                    |           
                    |                                     
                    li.mbr-navbar__item
                      a.mbr-buttons__link.btn.text-white(href='#shop') SHOP
                    |                                     
                    li.mbr-navbar__item
                      a.mbr-buttons__link.btn.text-white(href='#instruction') INSTRUCTION
                    |                                     
                    li.mbr-navbar__item
                      a.mbr-buttons__link.btn.text-white(href='#members') MEMBERS
                    |                                     
                    li.mbr-navbar__item
                      a.mbr-buttons__link.btn.text-white(href='#links') LINKS
                    |                                     
                    li.mbr-navbar__item
                      a.mbr-buttons__link.btn.text-white(href='#contact') CONTACT
    |     
    section#slider-42.mbr-slider.mbr-section.mbr-section--no-padding.carousel.slide(data-ride='carousel', data-wrap='true', data-interval='5000', style='background-color: rgb(0, 0, 0);')
      .mbr-section__container
        div
          ol.carousel-indicators
            li.active(data-app-prevent-settings='', data-target='#slider-42', data-slide-to='0')
            |                     
            li(data-app-prevent-settings='', data-target='#slider-42', data-slide-to='1')
            |                     
            li(data-app-prevent-settings='', data-target='#slider-42', data-slide-to='2')
          |                 
          .carousel-inner(role='listbox')
            .mbr-box.mbr-section.mbr-section--relative.mbr-section--fixed-size.mbr-section--bg-adapted.item.dark.center.mbr-section--full-height.active(style="background-image: url('img/carousel-1.jpg');")
              .mbr-box__magnet.mbr-box__magnet--sm-padding.mbr-after-navbar
                .container
                  .row
                    .col-md-6
                      .mbr-hero
            |                     
            .mbr-box.mbr-section.mbr-section--relative.mbr-section--fixed-size.mbr-section--bg-adapted.item.dark.center.mbr-section--full-height(style="background-image: url('img/carousel-3.jpg');")
              .mbr-box__magnet.mbr-box__magnet--sm-padding.mbr-after-navbar
                .container
                  .row
                    .col-md-6
                      .mbr-hero
            |                     
            .mbr-box.mbr-section.mbr-section--relative.mbr-section--fixed-size.mbr-section--bg-adapted.item.dark.center.mbr-section--full-height(style="background-image: url('img/carousel-1.jpg');")
              .mbr-box__magnet.mbr-box__magnet--sm-padding.mbr-after-navbar
                .container
                  .row
                    .col-md-6
                      .mbr-hero
          //
            <a data-app-prevent-settings="" class="left carousel-control" role="button" data-slide="prev" href="http://hyparec.com/#slider-42">
            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a data-app-prevent-settings="" class="right carousel-control" role="button" data-slide="next" href="http://hyparec.com/#slider-42">
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
    |     
    a(name='news')
    |     
    section#msg-box3-25.mbr-section.mbr-section--relative.mbr-section--fixed-size(style='background-color: rgb(204, 204, 204);')
      .mbr-section__container.container.mbr-section__container--first(style='padding-top: 31px;')
        .mbr-header.mbr-header--wysiwyg.row
          .col-sm-8.col-sm-offset-2
            h3.mbr-header__text LATEST NEWS
      |         
      .mbr-section__container.container.mbr-section__container--last(style='padding-bottom: 0px;')
        .row
          .mbr-article.mbr-article--wysiwyg.col-sm-8.col-sm-offset-2
    |     
    section#msg-box3-53.mbr-section.mbr-section--relative.mbr-section--fixed-size(style='background-color: rgb(255, 255, 255);')
      .mbr-section__container.container.mbr-section__container--first(style='padding-top: 31px;')
        .mbr-header.mbr-header--wysiwyg.row
          .col-sm-8.col-sm-offset-2
            h3.mbr-header__text Glengarry Highland Games 2016 : Maxville &nbsp;: Grade Five March Medley
      |         
      .mbr-section__container.container.mbr-section__container--last(style='padding-bottom: 31px;')
        .row
          .mbr-article.mbr-article--wysiwyg.col-sm-6.col-sm-offset-2
            p
              strong July 30
            |                     
            p
              | London Fire Fighters Pipe Band was announced the winner of the 2016 Grade 5 Medley at the Glengarry Highland Games
            |                     
            div
              br
            |                     
            div
              | Formal results for this event can be found on the 
              a(href='http://ppbso.org/glengarry-highland-games-8', target='_blank') PPBSO website
            |                     
            div
              br
            |                     
            div
              strong Grade 5
              |  (15 entered)
            |                     
            |                     
            div 1. London Fire Fighters Pipe Band - Gr.5 (2, 2, 4, 3)
            |                     
            div 2. White Heather Pipes &amp; Drums - Gr.5 (5, 4, 2, 1)
            |                     
            div 3. Pipes &amp; Drums of Lindsay - Gr.5 (1, 1, 3, 7)
            |                     
            div 4. Hamilton Police Pipes &amp; Drums - Gr.5 (7, 5, 1, 2)
            |                     
            div 5. Glengarry Pipe Band - Gr.5 (9, 3, 7, 6)
            |                     
            div
              br
            |                     
            div Best Bass:  London Fire Fighters Pipe Band
            |                     
            div
              br
            |                     
            div Judges:&nbsp;
            |                     
            div Charles H.MacDonald (piping)
            |                     
            div Brian Williamson (piping)
            |                     
            div Brian McCue (drumming)
            |                     
            div Robert MacCrimmon (ensemble)
            |                     
            p
    |     
    figure#video1.mbr-figure.mbr-figure--wysiwyg.mbr-figure--full-width.mbr-figure--caption-outside-bottom(style='background-color: rgb(0, 0, 0);')
      div
        iframe.mbr-embedded-video(src='https://www.youtube.com/embed/oiHx4y2Qprc', width='1280', height='720', frameborder='0', allowfullscreen='')
      |         
      figcaption.mbr-figure__caption.mbr-figure__caption--std-grid
        small.mbr-figure__caption-small
          | London Fire Fighters Pipe Band - Grade 5 March Medley @ Glengarry Highland Games 2016
    |     
    section#video2.mbr-section
      .mbr-section__container.container.mbr-section__container--first
        .row
          .col-sm-8.col-sm-offset-2
            figure.mbr-figure.mbr-figure--wysiwyg.mbr-figure--full-width.mbr-figure--no-bg.mbr-figure--caption-outside-bottom
              div
                iframe.mbr-embedded-video(src='https://www.youtube.com/embed/2rJS9uxX6wI?rel=0&autoplay=0&loop=0', width='1280', height='720', frameborder='0', allowfullscreen='', style='height: 425.812px;')
              |                         
              figcaption.mbr-figure__caption.mbr-figure__caption--no-padding
                small.mbr-figure__caption-small London Fire Fighters Pipe Band - Grade 5 Georgetown 2016
    |     
    section#video3.mbr-section
      .mbr-section__container.container.mbr-section__container--first
        .row
          .col-sm-8.col-sm-offset-2
            figure.mbr-figure.mbr-figure--wysiwyg.mbr-figure--full-width.mbr-figure--no-bg.mbr-figure--caption-outside-bottom
              div
                iframe.mbr-embedded-video(src='https://www.youtube.com/embed/tq5LiZveqcI?rel=0&autoplay=0&loop=0', width='1280', height='720', frameborder='0', allowfullscreen='', style='height: 425.812px;')
              |                         
              figcaption.mbr-figure__caption.mbr-figure__caption--no-padding
                small.mbr-figure__caption-small London Fire Fighters Pipe Band - Grade 5 Embro 2016
    |     
    section#video4.mbr-section
      .mbr-section__container.container.mbr-section__container--first
        .row
          .col-sm-8.col-sm-offset-2
            figure.mbr-figure.mbr-figure--wysiwyg.mbr-figure--full-width.mbr-figure--no-bg.mbr-figure--caption-outside-bottom
              div
                iframe.mbr-embedded-video(src='https://www.youtube.com/embed/bU6yKw9O_4A?rel=0&autoplay=0&loop=0', width='1280', height='720', frameborder='0', allowfullscreen='', style='height: 425.812px;')
              |                         
              figcaption.mbr-figure__caption.mbr-figure__caption--no-padding
                small.mbr-figure__caption-small London Fire Fighters Pipe Band - Grade 5 Kiwanis 2016
    |     
    a(name='about')
    |     
    section#msg-box3-24.mbr-section.mbr-section--relative.mbr-section--fixed-size(style='background-color: rgb(204, 204, 204);')
      .mbr-section__container.container.mbr-section__container--first(style='padding-top: 31px;')
        .mbr-header.mbr-header--wysiwyg.row
          .col-sm-8.col-sm-offset-2
            h3.mbr-header__text BAND HISTORY
      |         
      .mbr-section__container.container.mbr-section__container--last(style='padding-bottom: 0px;')
        .row
          .mbr-article.mbr-article--wysiwyg.col-sm-8.col-sm-offset-2
    |     
    section#msg-box3-10.mbr-section.mbr-section--relative.mbr-section--fixed-size(style='background-color: rgb(239, 239, 239);')
      .mbr-section__container.container.mbr-section__container--first(style='padding-top: 31px;')
        .row
          .mbr-article.mbr-article--wysiwyg.col-sm-8.col-sm-offset-2
            p
              | The London Firefighters Pipe Band was officially established in January 2003.  However, the band actually has a long and distinguished lineage as one of Ontario&apos;s oldest pipe bands.
            |                     
            |                     
            p
              | The band was originally created in 1921 as the St. Thomas Legion Branch 41 Pipe Band by several of the great names in piping at that time.  During the 1920&apos;s and the 1930&apos;s, the band enjoyed rival status to the world famous 48th Highlanders of Canada, and the Argyll and Sutherland Highlanders of Toronto and Hamilton respectively.
            |                     
            p
              | Many of the bands members were called to serve during the Second World War and the band fell into limbo during that time.  It reformed in 1957, and for a short time moved to the Aylmer Legion, competing at Grade 2 level until after teh 1960 season, when it moved to Grade 1.
            |                     
            p
              | In 1963, the band amalgamated with the Chrysler Highlanders, and represented the Chrysler Corporation at many events across North America.  In 1964 it returned to the St Thomas Legion until becoming the St. Thomas Police Association Pipe Band in 1968.
            |                     
            p
              | The band travelled to Scotlan in 1971, earning a ranking of 10th overall in the world by placing 2nd at Rosse and 3rd at Meadowbrook.  In 1973, the World Champion Edinburgh Police Pipe Band visted North America and asked the St. Thomas band to accomany them on the Canadian leg of the tour.
            |                     
            |                     
            p
              | In 1976, the Robert MacNish Distillery of Scotland decided to sponsor a pipe band outside the UK and selected the St. Thomas band based on its great reputation.
            |                     
            |                     
            p
              | They chose wisely, as in 1977 the MacNish Distillery Pipe Band won Champion Supreme for Ontario, as the top Grade 1 band in the province.  They also toured Scotland where they placed 1st at Peebles, and 2nd at Edinburgh&apos;s Princess Street Gardens.  Later that same year the band released a record album titled simply &quot;MacNish Distillery Pipe Band Volume I&quot;, which was said to be the finest pipe band recording of its time.
            |                     
            p
              | In 1978, the band competed in Alma, Michigan, where it won its fifth consecutive U.S. Open Pipe Band Championship.
            |                     
            p
              | MacNish Distillery Pipe Band Volume II was released in 1981, and the following year the band was honourecd to be selected to perform at the 150th Anniversary celebrations at the Rideau Canal in Kingston, Ontario.  The band visited Santa Rosa, California, for a successful 1983 tour, and again in 1987 when it won the set competition one day and the medley competition the next.
            |                     
            p
              | Meanwhile, 1984 and 1985 saw the completion of &quot;MacNish Distillery Pipe Band Volume III&quot;, which is still available on CD, alongside releases by many of the top bands from around the world.
            |                     
            p
              | The band&apos;s agreement with MacNIsh expired in 1987, and the band assumed the name ScotsAire.  In 1991, the band returned to its roots and became simply the St. Thomas Pipe Band.  The St. Thomas Police Service became a sponsor the following year, and the band adopted the moniker St. Thomas Police Pipe Band.
            |                     
            p
              | The British Columbia Indoor Contest was the desination in 1994, where St. Thomas Police finished second to the two times World Champions, Simon Fraser University Pipe Band.  In 1995 the band travelled to the east coast, placing first in Grade 1.  In 1996, the St. Thomas Police competed against the world&apos;s best Grade 1 pipe bands at the World Championships in Scotland.
            |                     
            p
              | More recently, many of the band&apos;s Grade 1 players moved on, and once again as the St. Thomas Pipe Band, it concentrated on developing new members at various skill levels, and competing in Grade 3 and Grade 5.  In 2002, its last year under the St. Thomas Police name, the Grade 5 band triumphed as Canadian Champions, North American Champions and Champion Supreme.
            |                     
            p
              | We are now the London Fire Fighters Pipe Band.  In 2016, we have once again reached position of Grade 5 North American Champions and Champion Supreme.  We remain loyal to our heritage and continue as a competitive pipe band and also an intructional band supporting piping and drumming in our region.
            |                     
            p
              br
    |     
    a(name='instruction')
    |     
    section#msg-box3-22.mbr-section.mbr-section--relative.mbr-section--fixed-size(style='background-color: rgb(204, 204, 204);')
      .mbr-section__container.container.mbr-section__container--first(style='padding-top: 31px;')
        .mbr-header.mbr-header--wysiwyg.row
          .col-sm-8.col-sm-offset-2
            h3.mbr-header__text INSTRUCTION
      |         
      .mbr-section__container.container.mbr-section__container--last(style='padding-bottom: 0px;')
        .row
          .mbr-article.mbr-article--wysiwyg.col-sm-8.col-sm-offset-2
    |     
    section#content4-40.mbr-section.mbr-section--relative.mbr-section--fixed-size(style='background-color: rgb(239, 239, 239);')
      .mbr-section__container.container.mbr-section__container--first(style='padding-top: 31px;')
        .row
          .mbr-article.mbr-article--wysiwyg.col-sm-8.col-sm-offset-2
            .mbr-section__container.mbr-section__container--last(style='padding-bottom: 31px;')
              .mbr-article.mbr-article--wysiwyg
                p
                  b London Fire Fighters Pipe Band Piping Instruction.
                  br
                  br
                |                             
                p
                  b PROGRAM DETAILS
                br
                p
                |                             
                p
                  | The School offers instruction for beginners and novice pipers.  Our instructors are accomplished Grade 1 and Professional players, with considerable experience in performance, competition, composing, and judging.
                |                             
                p Students are not required to have any previous musical experience.
                |                             
                p
                  | Piping Students will be tutored by experienced pipers and will progress at their own pace.  Students will learn the fundamentals of reading music, fingering, and expression, using a practice chanter.  The practice chanter is used by all pipers regardless of experience, to learn the and practice music.  It duplicates the fingering and techniques of the bagpipes and is quiet enough to be played indoors comfortably.
                |                             
                p
                  | By the conclusion of the program, participants will be able to play several simple tunes on the practice chanter.  Depending on their progress, they may be ready to start up to playing a full set of bagpipes withing a matter of weeks or months.
                |                             
                p
                  br
                  b LOCATION AND TIMES
                |                             
                p
                  br
                  | All classes are held on Monday evenings.  Piping and Drumming classes run from 6:00PM to 7:00PM, and then from 7:00PM to 8:00PM for the advanced students.  Students are welcome to stay later to observe and participate in the pipe band practices, which are also held on Monday evenings from 7:00PM to 9:30PM.  Band practices and the Piping School are hosted at Saunders Secondary School, which is located at 941 Viscount Road, opposite Westmount SHopping Centre.
                |                             
                p
                  br
                  | Piping Classes - Room C305 - third floor, west side.
                |                             
                p
                  br
                  | Drumming Classes - Room C305 - third floor, west side.
                |                             
                p
                  br
                  | Band Practice - Room C203 - second floor, west side.
                |                             
                p
                  br
                  b COSTS
                |                             
                p
                  | Students will be responsible for their own instruments (practice chanters for pipers), and the cost of the course textbooks.  These remain the property of the student once purchased.  These items are availble to the students at a discounted price through the band, or may be purchased at any local or online retailer.  Please check with the band for details.
                |                             
                p
                  br
                  b HAVE QUESTIONS?
                |                             
                p
                  | Contact the band by email at 
                  a(href='mailto:contact@lffbp.ca') contact@lffbp.ca
                |                             
                p
                |                             
                p
                |                             
                p
    //
      <section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="msg-box3-23" style="background-color: rgb(204, 204, 204);">
      <div class="mbr-section__container container mbr-section__container--first" style="padding-top: 31px;">
      <div class="mbr-header mbr-header--wysiwyg row">
      <div class="col-sm-8 col-sm-offset-2">
      <h3 class="mbr-header__text">SHOP</h3>
      <p class="mbr-header__subtext">Please support the Pipe and Drum band.
      <br>Payments are processed online using Paypal.</p>
      </div>
      </div>
      </div>
      <div class="mbr-section__container container mbr-section__container--last" style="padding-bottom: 0px;">
      <div class="row">
      <div class="mbr-article mbr-article--wysiwyg col-sm-8 col-sm-offset-2"></div>
      </div>
      </div>
      </section>
      <section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="content4-40" style="background-color: rgb(239, 239, 239);">
      <div class="mbr-section__container container mbr-section__container--first" style="padding-top: 31px;">
      <div class="row">
      <div class="mbr-article mbr-article--wysiwyg col-sm-8 col-sm-offset-2">
      <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 31px;">
      <div class="mbr-article mbr-article--wysiwyg">
      <p></p>
      </div>
      </div>
      </div>
      </div>
      </div>
      </section>
    a(name='members')
    |     
    section#msg-box3-22.mbr-section.mbr-section--relative.mbr-section--fixed-size(style='background-color: rgb(204, 204, 204);')
      .mbr-section__container.container.mbr-section__container--first(style='padding-top: 31px;')
        .mbr-header.mbr-header--wysiwyg.row
          .col-sm-8.col-sm-offset-2
            h3.mbr-header__text MEMBERS
      |         
      .mbr-section__container.container.mbr-section__container--last(style='padding-bottom: 0px;')
        .row
          .mbr-article.mbr-article--wysiwyg.col-sm-8.col-sm-offset-2
    |     
    section#content4-40.mbr-section.mbr-section--relative.mbr-section--fixed-size(style='background-color: rgb(239, 239, 239);')
      .mbr-section__container.container.mbr-section__container--first(style='padding-top: 31px;')
        .row
          .mbr-article.mbr-article--wysiwyg.col-sm-4.col-sm-offset-2
            .mbr-section__container.mbr-section__container--last(style='padding-bottom: 31px;')
              .mbr-article.mbr-article--wysiwyg
                p
                |                             
                p
                  a(href='https://drive.google.com/drive/folders/0Bwaz6toZYo4SdzlINXRMbVdpTzA', target='_blank') LFFPB Band Drive
                  |                                 
                  br
                |                             
                p
    |     
    section#msg-box3-10.mbr-section.mbr-section--relative.mbr-section--fixed-size(style='background-color: rgb(239, 239, 239);')
      .mbr-section__container.container.mbr-section__container--first(style='padding-top: 31px;')
        .row
          .mbr-article.mbr-article--wysiwyg.col-sm-8.col-sm-offset-2
            p
              br
    |     
    a(name='links')
    |     
    section#msg-box3-42.mbr-section.mbr-section--relative.mbr-section--fixed-size(style='background-color: rgb(204, 204, 204);')
      .mbr-section__container.container.mbr-section__container--first(style='padding-top: 31px;')
        .mbr-header.mbr-header--wysiwyg.row
          .col-sm-8.col-sm-offset-2
            h3.mbr-header__text LINKS
      |         
      .mbr-section__container.container.mbr-section__container--last(style='padding-bottom: 0px;')
        .row
          .mbr-article.mbr-article--wysiwyg.col-sm-8.col-sm-offset-2
    |     
    section#content4-40.mbr-section.mbr-section--relative.mbr-section--fixed-size(style='background-color: rgb(239, 239, 239);')
      .mbr-section__container.container.mbr-section__container--first(style='padding-top: 31px;')
        .row
          .mbr-article.mbr-article--wysiwyg.col-sm-4.col-sm-offset-2
            .mbr-section__container.mbr-section__container--last(style='padding-bottom: 31px;')
              .mbr-article.mbr-article--wysiwyg
                p
                |                             
                p
                  a(href='http://www.ppbso.org/', target='_blank') PPBSO
                  |                                 
                  br
                  a(href='http://www.scottshighland.com/', target='_blank') Scott&apos;s Highland Services Ltd.
                  |                                 
                  br
                  a(href='http://collegeofpiping.com/', target='_blank') College of Piping
                  |                                 
                  br
                  a(href='http://www.bcpipers.org/', target='_blank') BC Piping Association
                  |                                 
                  br
                  a(href='http://www.aspd.ca/', target='_blank') Alberta Piping Association
                  |                                 
                  br
                  a(href='http://acpba.ca/', target='_blank') Atlantic Piping Association
                  |                                 
                  br
                  a(href='http://www.bbc.co.uk/programmes/b0079g6v', target='_blank') BBC Radio Scotland - Pipeline    
                  |                                 
                  br
                |                             
                p
    |     
    a(name='contact')
    |     
    section#msg-box3-33.mbr-section.mbr-section--relative.mbr-section--fixed-size(style='background-color: rgb(204, 204, 204);')
      .mbr-section__container.container.mbr-section__container--first(style='padding-top: 31px;')
        .mbr-header.mbr-header--wysiwyg.row
          .col-sm-8.col-sm-offset-2
            h3.mbr-header__text CONTACT US
    |    
    section#msg-box3-10.mbr-section.mbr-section--relative.mbr-section--fixed-size(style='background-color: rgb(239, 239, 239);')
      .mbr-section__container.container.mbr-section__container--first(style='padding-top: 31px;')
        .row
          .mbr-article.mbr-article--wysiwyg.col-sm-8.col-sm-offset-2
            p
              br
          |                 
          .mbr-section__container.container.mbr-section__container--last(style='padding-bottom: 30px;')
            .row
              .mbr-article.mbr-article--wysiwyg.col-sm-8.col-sm-offset-2
                form#contactform(method='POST')
                  input(type='text', name='name', placeholder='Your name')
                  br
                  |                                 
                  input(type='email', name='_replyto', placeholder='Your email')
                  br
                  |                                 
                  input(type='hidden', name='_subject', value='Website contact')
                  br
                  |                                 
                  textarea(name='message', placeholder='Your message')
                  br
                  |                                 
                  input(type='text', name='_gotcha', style='display:none')
                  |                                 
                  input(type='submit', value='Send')
                |                             
                script.
                  var contactform =  document.getElementById('contactform');
                  contactform.setAttribute('action', 'https://formspree.io/' + 'contact' + '@' + 'lffpb' + '.' + 'ca');
    |     
    section#contacts1-18.mbr-section.mbr-section--relative.mbr-section--fixed-size(style='background-color: rgb(0, 0, 204);')
      .mbr-section__container.container
        .mbr-contacts.mbr-contacts--wysiwyg.row(style='padding-top: 15px; padding-bottom: 0px;')
          .col-sm-4
            div
              img.mbr-contacts__img.mbr-contacts__img--left(src='./img/LFFPB-Logo.png')
          |                 
          .col-sm-8
            .row
              .col-sm-6
                p.mbr-contacts__text
                  span(style='font-weight: bold;') EMAIL US @ &nbsp;:
                  |                                 
                  br
                  a.text-gray(href='mailto:contact@lffpb.ca')
                    strong contact@lffpb.ca
                  |                                 
                  br
                  |                                 
                  br
                  |                                 
                  br
                  span(style='font-weight: bold;') FOLLOW US :
                  |                                 
                  br
                  strong
                    a.text-gray(href='https://twitter.com/lffpb', target='_blank') Twitter
                    |                                 
                    br
                    a.text-gray(href='https://www.facebook.com/lffpb', target='_blank') Facebook
                    |                                 
                    br
                    a.text-gray(href='https://www.youtube.com/user/lffpb', target='_blank') Youtube
                    |                                 
                    br
                    a.text-gray(href='https://www.instagram.com/lffpb', target='_blank') Instagram
                  |                                 
                  br
                  |                                 
                  br
                  |                                 
                  br
              |                         
              .col-sm-6
                p.mbr-contacts__text
                  span(style='font-weight: bold;') PRACTICE SCHEDULE :
                  |                                 
                  br
                  strong Monday
                  |  :&nbsp;
                  span(style='line-height: 1.7em;') 6pm to 9:30pm @ Saunders Secondary School
                |                             
                div
                  br
                |                             
                div
                  span(style='font-weight: bold;') ADDRESS :
                |                             
                div London, Ontario
                |                             
                p
    |     
    figure#map1-14.mbr-figure.mbr-figure--wysiwyg.mbr-figure--full-width.mbr-figure--caption-outside-bottom
      .mbr-figure__map.mbr-google-map
        script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCU9EUUjLkPc9yH1xmFSF6973HFlXHMkEY')
        div(style='overflow:hidden;height:400px;width:1202px;')
          #gmap_canvas(style='height:400px;width:1202px;')
          style.
            #gmap_canvas img{max-width:none!important;background:none!important}
        |  
        a(href='https://add-map.com/') how to add google maps to a website
        |  
        script(type='text/javascript', src='https://embedmaps.com/google-maps-authorization/script.js?id=cd1e33847e4d2d41323bfd30f282f4fd5d0bec85')
        script(type='text/javascript').
          function init_map(){var myOptions = {zoom:12,center:new google.maps.LatLng(42.946737,-81.29164220000001),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(42.946737,-81.29164220000001)});infowindow = new google.maps.InfoWindow({content:'<strong>LFFPB</strong><br>941 Viscount Rd<br>N6K 1H5 London<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);
        |             
        p Practice : Monday 6-9:30pm @ Saunders Secondary School,London Ontario.
    |     
    footer#footer1-17.mbr-section.mbr-section--relative.mbr-section--fixed-size(style='background-color: rgb(68, 68, 68);')
      .mbr-section__container.container
        .mbr-footer.mbr-footer--wysiwyg.row(style='padding-top: 12.3px; padding-bottom: 12.3px;')
          .col-sm-12
            p.mbr-footer__copyright
              | Copyright (&scy;) 2016 London Fire Fighters Pipe Band
    |     
    script(src='./js/jquery.min.js')
    |     
    script(src='./js/bootstrap.min.js')
    |     
    script(src='./js/SmoothScroll.js')
    |     
    script(src='./js/bootstrap-carousel-swipe.js')
