extends ../layouts/default

block content
		.page-header
			h1 Shop with us
		.row
			.col-sm-8
				p Coming soon to our site!  Visit us again.

				//div(style='width:100%; height:500px;')
					iframe(src='https://lffpb-online-store.myshopify.com/', style='width:100%; height:100%;')

			.col-sm-4
				.panel.panel-default
					.panel-heading
						h3.panel-title London Fire Fighters Pipe Band - Quick Links
					.panel-body Here are some links of interest:
					.list-group
						a(href='http://www.ppbso.org/', target='_blank').list-group-item PPBSO
						a(href='http://www.scottshighland.com/', target='_blank').list-group-item Scott's Highland Services, Ltd
						a(href='http://collegeofpiping.com/', target='_blank').list-group-item College of Piping 
						a(href='http://www.bcpipers.org/', target='_blank').list-group-item BC Piping Association
						a(href='http://www.aspd.ca/', target='_blank').list-group-item Alberta Piping Association
						a(href='http://www.bbc.co.uk/programmes/b0079g6v', target='_blank').list-group-item BBC Radio Scotland - Pipeline 
						a(href='https://drive.google.com/drive/folders/0Bwaz6toZYo4SdzlINXRMbVdpTzA', target='_blank').list-group-item Members Google Storage
